$radius: 22px;
$margin: $radius / 3.14;
$transiton_delay: 100ms;
$open_box_size: 6px;

.dock {
  border-radius: $radius;
  background: #{"alpha(@window_bg_color, 0.5)"};

  & > listview {
    margin: $margin;
    margin-bottom: 0;
    background: transparent;

    & > row {
      margin: 0 3px;

      &:hover {
        background: initial;
      }
    }

    & > header {
      padding: $margin 0;
      padding-bottom: $margin + $open_box_size;

      & > separator {
        margin: 0 $margin;
      }
    }
  }
}

.dock-icon {
  -gtk-icon-size: 48px;
  & > image {
    transition: $transiton_delay ease;
  }
  padding: $margin / 2;

  &:hover > image {
    -gtk-icon-filter: brightness(1.2);
  }

  & > .num_open_box {
    min-height: $open_box_size;
    margin-top: 2px;

    & > .circle {
      transition: $transiton_delay ease;
      min-width: $open_box_size;
      min-height: $open_box_size;
      border-radius: $open_box_size;
      background-color: #{"alpha(@theme_text_color, 0.8)"};
    }
  }
}

.popover-item {
  & > box {
    margin: 6px;
  }

  &:hover {
    background: #{"alpha(@accent_bg_color, 0.2)"};
  }
}

.popover-image {
  -gtk-icon-size: 48px;
}

.popover-label {
}
