$radius: 22px;
$margin: $radius / 3.14;
$transiton_delay: 100ms;
$open_box_size: 6px;

window {
  background: transparent;
  padding: 0;
  margin: 0;
}

.dock {
  border-radius: $radius;
  margin: 0;
  padding: $margin;
  background: #{"alpha(var(--window-bg-color), 0.5)"};

  &.vertical {
    &.start {
      padding-left: 0;
    }
    &.end {
      padding-right: 0;
    }
  }
  &.horizontal {
    &.start {
      padding-top: 0;
    }
    &.end {
      padding-bottom: 0;
    }
  }

  /* Add all-around margin when in the floating mode */
  window.floating > & {
    margin: $margin;
  }

  & > dockitem {
    padding: 0 $margin / 2;
    /* Remove the dnd border */
    box-shadow: none;
  }

  & > separator {
    margin: $margin;
    margin-bottom: $margin + $open_box_size;
  }
}

.dock-icon {
  padding: $margin / 2 0;

  &.focused {
  }

  & .icon-image {
    padding: $margin / 2;
    transition: -gtk-icon-filter $transiton_delay ease;
  }

  &.minimized .icon-image {
    -gtk-icon-filter: brightness(0.8) saturate(0.7);
  }

  &:hover .icon-image {
    -gtk-icon-filter: brightness(1.2);
  }
  &:active .icon-image {
    -gtk-icon-filter: brightness(0.8);
  }

  & .count-badge {
    background-color: var(--accent-red);
    color: var(--accent-fg-color);
    min-height: 16px;
    min-width: 16px;
    border-radius: 100px;
    font-size: 11px;
    font-weight: bold;
    padding: 2px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.56);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.56);
    border: 1px solid var(--border-color);
  }

  & .progress-bar {
    border: 1px solid var(--window-fg-color);
    border-radius: 100px;
    opacity: 0.8;

    & > trough {
      min-height: 3px;
      min-width: 0;
      border-radius: 0;
      background-color: transparent;

      & > progress {
        border-radius: 0;
        background-color: var(--window-fg-color);
      }
    }
  }

  & > .num_open_box {
    min-height: $open_box_size;
    min-width: $open_box_size;
    margin-top: 2px;

    & > .circle {
      transition: $transiton_delay ease;
      min-width: $open_box_size;
      min-height: $open_box_size;
      border-radius: $open_box_size;
      background-color: var(--window-fg-color);
      opacity: 0.8;
    }
  }
}

.popover-item {
  & > box {
    margin: 6px;
  }

  &:hover {
    background: #{"alpha(var(--accent-bg-color), 0.2)"};
  }
}

.popover-image {
  -gtk-icon-size: 48px;
}

.popover-label {
}
